.tutorial-guide-wrapper {
  h2 {
    font-weight: bold;
    font-size: 1.2rem;
  }

  h4 {
    color: var(--color-text-subtle);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 1rem;
  }

  a, code {
    color: var(--color-accent-secondary);
  }

  img.inline-svg {
    filter: var(--filter-svg);
    height: 1.1rem;
    margin: 0 2px;
    display: inline-block;
  }

  ol {
    list-style-type: decimal;
    padding-left: 2rem;
  }

  ul {
    list-style-type: disc;
    padding-left: 2rem;
  }

  li {
    padding-left: 0.5rem;
  }

  .footnote {
    color: var(--color-text-subtle);
    font-size: 0.8rem;
  }

  .danger {
    color: var(--color-danger);
  }
}